<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %>
<body>
    <%- include('../partials/nav') %>
    <h1> <%= context.title %> </h1>
    <div>
        Player div?
        
        <button onclick="playSound()" disabled>Play</button>
        <button onclick="stopSound()" disabled>Stop</button>
        <%= context.audio %>
    </div>
    <br>
    <div>
        <a href="/test/album/<%= context.album %>"> Album name placeholder -- <%= context.album %></a>
    </div>

</body>
</html>