<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %>
<body>
    <%- include('../partials/nav') %>
    <h1> <%= context.title %> </h1>
    <div>

        <audio controls>
            <source src="data:audio/mpeg;base64,<%=context.audio%>"/>
            <!-- src typically accepts a dataURL as its source and the current version of the site is not sending data that way, so I handwrote the first part of the dataURL formatting and injected the base64 encoded audio string with injector tags -->
        </audio>
        
    </div>
    <br>
    <div>
        <a href="/test/album/<%= context.album %>"> Album name placeholder -- <%= context.album %></a>
    </div>

</body>
</html>