<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %>
<body>
    <%- include('../partials/nav') %>
    <h1><%= context.title%></h1>
    <div>
        <ol>
        <% context.tracks.forEach((track) => { %>
            <li>
            <a href="/test/song/<%= track %>"> Track Name Placeholder - <%= track %> <a>
            </li>
        <% }) %>
        </ol>
    </div>
    <%- include('../partials/foot_edit_album') %>
</body>
</html>